@charset "UTF-8";
/* Подключение локального шрифта Raleway-700 - latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  /* Добавляем вручную свойство для отображения шрифта до загрузки */
  src: local("Raleway Bold"), local("Raleway-Bold"), url("../fonts/raleway-v16-latin-700.woff2") format("woff2"), url("../fonts/raleway-v16-latin-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.03em;
  color: #212121;
  background-color: #ffffff;
}

/*                                    Общие сбросы свойств */
/* Убираем точки и отступы в списках */
.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* Убираем подчеркивание в ссылках */
.link {
  text-decoration: none;
}

/* Убираем наклонность текста */
.address {
  font-style: normal;
}

/* Убираем эффект 2рх  и оптимизируем фото */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Убираем возможность изменять размер пользователю */
textarea {
  resize: none;
}

/* Скрываем визуально текст и чекбокс*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*                                   Наш div.container */
.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  /* Линия и фон для проверки */
  /* outline: 1px solid red; */
  /* background-color: yellowgreen; */
}

/*                                        Шапка сайта  */
/* Логотип */
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logo-web {
  color: #188ce8;
}

.black-studio {
  color: #000000;
}

/* Анимация Логотипа */
.animate__pulse {
  /* Необходимо задать время,и через линк, и через @keyframes */
  animation-duration: 1000ms;
  /* Подключение Аннимации на Логотип,если не поключен линк на анимацию */
  /* -webkit-animation-name: pulse;
  animation-name: pulse;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out; */
}

/* Текст */
.nav-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Accent эффект */
.nav-link:hover,
.nav-link:focus,
.contakt-link:hover,
.contakt-link:focus {
  color: #2196f3;
}

/* "Эффект присутствия на странице */
.nav-link.current {
  color: #2196f3;
}

.nav-link.current::after {
  position: absolute;
  width: 100%;
  bottom: 0;
  content: '';
  height: 4px;
  border-radius: 2px;
  background-color: #2196f3;
  display: block;
}

.nav-list .item {
  position: relative;
}

.contakt-link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  margin-left: 85px;
}

.contakt-list {
  display: flex;
  align-items: center;
}

.contakt-list .link {
  display: flex;
}

.nav-list .item:not(:last-child) {
  margin-right: 50px;
}

.contakt-list .item:not(:last-child) {
  margin-right: 30px;
}

.icon-mail {
  width: 16px;
  height: 11px;
  margin-top: 1px;
}

.icon-phone {
  width: 10px;
  height: 15px;
}

.icon-mail,
.icon-phone {
  align-self: center;
  margin-right: 10px;
  fill: #757575;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contakt-link:hover .icon-mail,
.contakt-link:focus .icon-mail,
.contakt-link:hover .icon-phone,
.contakt-link:focus .icon-phone {
  fill: #2196f3;
}

.header {
  border-bottom: 1px solid #ececec;
}

/*                                         Студия */
/*                       Hero */
.hero {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  text-align: center;
  /* Зададим фон,чтобы было видно текст в случае медленной загрузки фонового изображения */
  background-color: #757575;
  background-image: linear-gradient(rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url("../images/hero/hero.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.hero-button {
  min-width: 200px;
  padding-top: 10px;
  padding-right: 32px;
  padding-bottom: 10px;
  padding-left: 32px;
  border-width: 0;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  background-color: #2196f3;
  color: #ffffff;
  cursor: pointer;
  outline: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  background-color: #2196f3;
  border: 1px solid #ffffff;
}

/* Секция О нас */
.about {
  padding-top: 94px;
  padding-bottom: 47px;
}

.about-list {
  display: flex;
  /*  Можно также использовать. вместо то что ниже*/
  /* justify-content: space-between; */
}

.about-item {
  width: 270px;
}

.about-item:not(:last-child) {
  margin-right: 30px;
}

.about-name {
  margin-top: 0;
  margin-bottom: 10px;
  line-height: 1.14;
  text-transform: uppercase;
}

.about-description {
  margin: 0;
  line-height: 1.71;
  color: #757575;
}

.about-bg {
  display: flex;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-right: 100px;
  padding-left: 100px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.about-icon {
  width: 70px;
  height: 70px;
}

/*              Чем занимаемся секция */
.offer {
  padding-top: 47px;
  padding-bottom: 94px;
}

.offer-title {
  margin-top: 0;
  margin-bottom: 50;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.offer-item {
  position: relative;
}

.offer-name {
  position: absolute;
  width: 370px;
  bottom: 0;
  left: 0;
  margin: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  background-color: rgba(47, 48, 58, 0.8);
  color: #ffffff;
}

.offer-list {
  display: flex;
}

.offer-item:not(:last-child) {
  margin-right: 30px;
}

/* Секция Наша команда */
.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: #f5f4fa;
}

.team-list {
  display: flex;
}

.team-item:not(:last-child) {
  margin-right: 30px;
}

.team-title {
  margin-top: 0;
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.team-name {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team-position {
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: #757575;
}

.name-social-list {
  display: flex;
  justify-content: space-between;
}

.team-item {
  display: block;
  width: 270px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
  background-color: #ffffff;
}

.team-card {
  padding-top: 30px;
  padding-bottom: 24px;
  padding-left: 32px;
  padding-right: 32px;
}

.name-social-item > a {
  display: flex;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.name-social-item .icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.name-social-item > a:hover,
.name-social-item > a:focus {
  background-color: #2196f3;
}

.name-social-item > a:hover .icon,
.name-social-item > a:focus .icon {
  fill: #ffffff;
}

/* Секция Постоянные клиенты */
.customers {
  padding-top: 94px;
  padding-bottom: 94px;
}

.customers-title {
  margin-top: 0;
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.customers-list {
  display: flex;
  justify-content: space-between;
}

.customers-item > a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  background-color: #ffffff;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-item > a:hover,
.customers-item > a:focus {
  border-color: #2196f3;
}

.customers-icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-item > a:hover .customers-icon,
.customers-item > a:focus .customers-icon {
  fill: #2196f3;
}

/*                                Секция Портфолио */
.main-portfolio {
  padding-top: 93px;
  margin-bottom: 94px;
}

.filter-button.current {
  background-color: #2196f3;
  color: #ffffff;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 3px 1px rgba(0, 0, 0, 0.1);
  border-color: transparent;
}

.filter-button {
  border-width: 0;
  padding-top: 6px;
  padding-right: 22px;
  padding-bottom: 6px;
  padding-left: 22px;
  margin: 0;
  outline: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  text-align: center;
  background-color: #f5f4fa;
  color: #212121;
  border-radius: 4px;
  border-color: transparent;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-button:hover,
.filter-button:focus {
  background-color: #2196f3;
  color: #ffffff;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 3px 1px rgba(0, 0, 0, 0.1);
}

.filter .filter-item:not(:last-child) {
  margin-right: 8px;
}

.filter > .list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio-name {
  margin-top: 0;
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.portfolio-web,
.portfolio-design,
.portfolio-app,
.portfolio-marketing {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 1.88;
  color: #757575;
}

.portfolio > .list {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
}

.portfolio-card {
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

/* Кроме каждого третьего */
.portfolio-item:not(:nth-child(3n)) {
  margin-right: 30px;
}

/* Кроме трех  последних с конца */
.portfolio-item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}

.portfolio-thumb {
  position: relative;
  overflow: hidden;
}

.portfolio-about {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 63px;
  padding-right: 24px;
  padding-bottom: 63px;
  padding-left: 24px;
  font-size: 18px;
  line-height: 1.56;
  background-color: rgba(33, 150, 243, 0.9);
  color: #ffffff;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link:hover .portfolio-about,
.portfolio-link:focus .portfolio-about {
  transform: translateY(0);
}

/*                                          Подвал сайта */
.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.white-studio {
  color: #ffffff;
}

.address-link {
  line-height: 1.71;
  color: #ffffff;
}

.address-mail,
.address-tel {
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
}

.footer-join {
  display: inline-block;
  margin-bottom: 20px;
  line-height: 1.14;
  color: #ffffff;
  text-transform: uppercase;
}

.accent-link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.accent-link:hover,
.accent-link:focus {
  color: #2196f3;
}

.footer .container {
  display: flex;
  align-items: baseline;
}

.footer .logo {
  display: inline-block;
  margin-bottom: 20px;
}

.footer-address .link {
  display: inline-block;
}

.footer-address .link:not(:last-child) {
  margin-bottom: 9px;
}

.footer-box-address {
  /* margin-right: 69px; */
  /* По макету стоит 69px,но не корректно узазаны границы первого бдока с лого */
  margin-right: 83px;
}

.footer-box-social {
  margin-right: 94px;
}

.footer-social-list {
  display: flex;
}

.footer-social-item > a {
  display: flex;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-item .icon {
  width: 20px;
  height: 20px;
  fill: #ffffff;
}

.footer-social-item:not(:last-child) {
  margin-right: 10px;
}

.footer-social-item > a:hover,
.footer-social-item > a:focus {
  background-color: #2196f3;
}

/* .footer-form {
  display: flex;
} */
.footer-form-input {
  margin-right: 12px;
  width: 358px;
  height: 50px;
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 16px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  cursor: pointer;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form-button {
  display: inline-flex;
  align-items: center;
  border-width: 0;
  padding-top: 10px;
  padding-right: 29px;
  padding-bottom: 10px;
  padding-left: 28px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form-button:hover,
.footer-form-input:hover,
.footer-form-button:focus,
.footer-form-input:focus {
  outline: 1px solid #ffffff;
}

.footer-form-button .icon {
  margin-left: 10px;
  width: 24px;
  height: 24px;
  fill: #ffffff;
}

/*                               Модальное окно */
.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.form-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 528px;
  min-height: 581px;
  padding-left: 40px;
  padding-top: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.form-modal-title {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
}

.form-modal-button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-close {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 18px;
  height: 18px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-modal-button:hover .btn-close,
.form-modal-button:focus .btn-close {
  fill: #2196f3;
}

.form-modal-button:focus {
  outline: none;
  border-color: #2196f3;
}

.form-modal-field {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 28px;
}

.form-modal-comments-wrapper {
  position: relative;
  margin-bottom: 20px;
}

.form-modal-checkbox-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.form-modal-input,
.form-modal-textarea {
  margin: 0;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-modal-input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
}

.form-modal-textarea {
  padding-left: 16px;
  width: 100%;
  height: 120px;
}

.form-modal-comments-wrapper .form-modal-label {
  left: 16px;
}

.form-modal-input,
.form-modal-textarea,
.form-modal-label {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: #757575;
}

.form-modal-label {
  position: absolute;
  left: 42px;
  top: 12px;
  transition: font-size 250ms cubic-bezier(0.4, 0, 0.2, 1), line-height 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-modal-icon {
  position: absolute;
  left: 16px;
  top: 11px;
  width: 18px;
  height: 18px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-modal-input:focus + .form-modal-label,
.form-modal-input:hover + .form-modal-label,
.form-modal-input:not(:placeholder-shown) + .form-modal-label {
  font-size: 12px;
  line-height: 1.17;
  color: #2196f3;
  transform: translate(-28px, -30px);
}

.form-modal-input:focus ~ .form-modal-icon,
.form-modal-input:hover ~ .form-modal-icon,
.form-modal-input:focus:not(:placeholder-shown) ~ .form-modal-icon,
.form-modal-input:hover:not(:placeholder-shown) ~ .form-modal-icon {
  fill: #2196f3;
}

.form-modal-input:not(:placeholder-shown) ~ .form-modal-icon {
  fill: inherit;
}

.form-modal-input:focus,
.form-modal-input:hover,
.form-modal-textarea:focus,
.form-modal-textarea:hover,
.form-modal-input:focus:not(:placeholder-shown),
.form-modal-textarea:focus:not(:placeholder-shown),
.form-modal-input:hover:not(:placeholder-shown),
.form-modal-textarea:hover:not(:placeholder-shown) {
  border-color: #2196f3;
  outline: none;
}

.form-modal-textarea:not(:placeholder-shown),
.form-modal-input:not(:placeholder-shown) {
  border: 1px solid rgba(33, 33, 33, 0.2);
}

.form-modal-textarea:focus + .form-modal-label,
.form-modal-textarea:hover + .form-modal-label,
.form-modal-textarea:not(:placeholder-shown) + .form-modal-label {
  font-size: 12px;
  line-height: 1.17;
  color: #2196f3;
  transform: translate(-2px, -30px);
}

.form-modal-checkbox-label {
  line-height: 1.71;
  color: #757575;
  cursor: pointer;
}

/* Cделаем временно подчеркивание для визуализации */
/* .form-modal-checkbox:checked ~ .form-modal-checkbox-label {
color: red;
} */
.form-modal-checkbox:checked ~ .form-modal-icon-check {
  border-color: transparent;
  background-color: #2196f3;
}

/* Для доступности при фокусе на чекбокс зададим тень */
.form-modal-checkbox:focus ~ .form-modal-icon-check,
.form-modal-checkbox:hover ~ .form-modal-icon-check {
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
}

.form-modal-icon-check {
  margin-right: 8px;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  fill: #ffffff;
  cursor: pointer;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-modal-link {
  color: #2196f3;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-modal-link:focus {
  outline: none;
  border: 1px solid #2196f3;
  border-radius: 2px;
}

.form-modal-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 50px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  border-color: transparent;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-modal-btn:hover,
.form-modal-btn:focus {
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-color: #2196f3;
  outline: none;
}

/* Подключение Аннимации на Модальное окно */
@keyframes scale {
  from {
    transform: scale3d(0, 0, 0);
  }
  to {
    transform: scale3d(1, 1, 1);
  }
}

/* Анимация Модального окна */
.backdrop.animate-modal {
  animation-name: scale;
  animation-duration: 250ms;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden.animate-modal {
  animation-name: scale;
  animation-duration: 250ms;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  animation-direction: reverse;
}
/*# sourceMappingURL=main.css.map */