/* Секция Постоянные клиенты */
.customers {
  padding-top: 94px;
  padding-bottom: 94px;
}
.customers-title {
  margin-top: 0;
  margin-bottom: 50px;

  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
.customers-list {
  display: flex;
  justify-content: space-between;
}
.customers-item > a {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 170px;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  background-color: $main-background-color;

  transition: border-color $transition-duration-250ms $cubic-bezier;
}
.customers-item > a:hover,
.customers-item > a:focus {
  border-color: $hover-color;
}
.customers-icon {
  fill: $icon-color;

  transition: fill $transition-duration-250ms $cubic-bezier;
}

.customers-item > a:hover .customers-icon,
.customers-item > a:focus .customers-icon {
  fill: $hover-color;
}
